*{
    margin:0;
    padding:0;

}
body{
    background-color: #18cfe0;
    text-align: center;
}
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:1em;
}
.box{
    height: 18vmin;
    width:18vmin;
border-radius:1rem;
border:none;
box-shadow: 0 0 1rem rgba(67,57,89);
font-size: 8vmin;
color:#b0413e;
background-color:#ffffC7;
}
#new-btn{
    padding:1rem;
    font-size: 15px;
   background-color: #191913;
   color:white;
   border-radius:1rem;
   border:none;
}
#reset-btn{
    padding:1rem;
    font-size: 20px;
   background-color: #191913;
   color:white;
   border-radius:1rem;
   border:none;
}
#msg{
    color:#ffffC7;
    font-size:5vmin;
}
.msg-container{
    height:100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display:none;
}
/* .myclass{
    color:crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
  }
  .newclass{
     color:darksalmon;
     font-family: 'Times New Roman', Times, serif;
     font-size:40px;
  } */